<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rendering Dynamic Images Using Flask</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        img {
            width: 90%;
        }

        .container {
            text-align: center;
            margin-top: 20px;
        }

        .header {
            display: inline;
        }

        .text-input {
            display: inline-block;
            margin: 0 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .button {
            padding: 8px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #0056b3;
        }

        .row {
		  display: flex;
		}

        .column1:not(:last-child) {
		  border-right: 3px solid #ccc; /* Add border to all columns except the last one */
		  padding-right: 20px; /* Adjust spacing as needed */
          width: 50%;
		}
    </style>
</head>
<body>
<div class = "row">
    <form action="{{ url_for('upload_file') }}" enctype="multipart/form-data" method="POST">
            <input name="img" type="file"/>
            <input type="submit" value="Upload"/>
    </form>
</div>
<div class="row">
    <div class="column1">
        {% if img %}
            <h1>Rendered Image</h1>
            <img src="{{img}}">
        {% else %}
            <h1>Image will render here...</h1>
        {% endif %}
    </div>
    <div class="column1" >
	    {% if editedImg %}
            <h1>Edited Image</h1>
            <img src="{{editedImg}}">
        {% else %}
            <h1>Edited Image will render here...</h1>
        {% endif %}
    </div>
</div>

<br>

<table>
<tr>
    <form action='/displayKeyValuePairs' method='POST'>
        <td>Show Key-Value Pairs:</td>
        <td>
            <input type="submit" value="Show KVPs">
        </td>
    </form>
</tr>

<tr>
    {% if kv_tuples %}
        <h2>Detected Key-Value Pairs</h2>
        <ul>
            {% for tuple in kv_tuples %}
                <li><strong>{{ tuple['label'] }}:</strong> {{ tuple['value'] }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</tr>

{#<tr>#}
{#        <form action='/KVPSearch' method='POST'>#}
{#            <td>Show Key-Value Pairs:</td>#}
{#            <td>#}
{#                <input type="submit" value="Show KVPs">#}
{#            </td>#}
{##}
{##}
{#            <td>#}
{#                {% if key_value_pairs %}#}
{#                <h2>Detected Key-Value Pairs</h2>#}
{#                <ul>#}
{#                    {% for key, value in key_value_pairs %}#}
{#                        <li><strong>{{ key }}:</strong> {{ value }}</li>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#                {% endif %}#}
{##}
{#            </td>#}
{#          </form>#}
{#    </tr>#}

	<tr>
        <form action='/searchtext' method='POST'>
            <td>Search:</td>
            <td>
                <input type="text" id="searchText" name="searchText" value="Enter Search Term"
                       style="display: inline-block;" onfocus="this.value='{{ searchText }}'" >
            </td>
            <td>
                <input type="submit" value=" Search ">
            </td>
            <td>
                {% if foundText %}
                    <span style="color: #FF0000;">{{ foundText }}</span>
                {% endif %}
            </td>
        </form>
        </form>
	</tr>
	<tr>
        <form action='/removeText' method='POST'>
            <td>Remove:</td>
            <td>
                {% if removedText %}
                    <input type="text" id="removeText" name="removeText" value="{{ removedText }}" style="display: inline-block;"  onfocus="this.value='{{ removedText }}'">
                {% else %}
                    <input type="text" id="removeText" name="removeText" value="Enter text to be removed" style="display: inline-block;"  onfocus="this.value=''">
                {% endif %}
            </td>
            <td>
                <input type="submit" value="Remove">
            </td>
            <td>
                {% if deletedText %}
                    <span style="color: #FF0000;">{{ deletedText }}</span>
                {% endif %}
            </td>
        </form>
	</tr>
	<tr>
        <form action='replaceText' method='POST'>
            <td>Replace:</td>
            <td>
                 {% if replaceText %}
                    <input type="text" id="replaceText" name="replaceText" value="{{ replaceText }}" style="display: inline-block;"  onfocus="this.value='{{ replaceText }}'">
                {% else %}
                    <input type="text" id="replaceText" name="replaceText" value="Enter text to be replaced" style="display: inline-block;"  onfocus="this.value=''">
                {% endif %}
            </td>
            <td>
                {% if replacementText %}
                    <input type="text" id="replacementText" name="replacementText" value="{{ ReplacementText}}" style="display: inline-block;" onfocus="this.value='{{ replacementText }}'">
                {%  else %}
                    <input type="text" id="replacementText" name="replacementText" value="Enter text to be replaced with" style="display: inline-block;"  onfocus="this.value=''">
                {% endif %}
            </td>
            <td>
                <input type="submit" value="  Replace   ">
            </td>
                <td>
                {% if replacedText_Msg %}
                    <span style="color: #FF0000;">{{ replacedText_Msg }}</span>
                {% endif %}
            </td>
        </form>
	</tr>
	<tr>
        <form action='replaceAllText' method='POST'>
            <td>Replace All:</td>
            <td>
                 {% if replaceAllText %}
                    <input type="text" id="replaceAllText" name="replaceAllText" value="{{ replaceAllText }}" style="display: inline-block;"  onfocus="this.value='{{ replaceAllText }}'">
                {% else %}
                    <input type="text" id="replaceAllText" name="replaceAllText" value="Enter text to be replaced" style="display: inline-block;"  onfocus="this.value=''">
                {% endif %}
            </td>
            <td>
                {% if replacementAllText %}
                    <input type="text" id="replacementAllText" name="replacementAllText" value="{{ replacementAllText}}" style="display: inline-block;" onfocus="this.value='{{ replacementAllText }}'">
                {%  else %}
                    <input type="text" id="replacementAllText" name="replacementAllText" value="Enter text to be replaced with" style="display: inline-block;"  onfocus="this.value=''">
                {% endif %}
            </td>
             <td>
                <input type="submit" value="  ReplaceAll   ">
            </td>
                <td>
                {% if replacedText_Msg %}
                    <span style="color: #FF0000;">{{ replacedAllText_Msg }}</span>
                {% endif %}
            </td>
        </form>
	</tr>

{#    <tr>#}
{##}
{#    <h2>Key-Value Pairs</h2>#}
{#    {% if key_value_pairs %}#}
{#        <ul>#}
{#            {% for key, value in key_value_pairs %}#}
{#                <li>{{ key }}: {{ value }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% else %}#}
{#        <p>No key-value pairs found.</p>#}
{#    {% endif %}#}
{##}
{#    <form action="/extract_kv_pairs" method="post">#}
{#        <button type="submit">Extract Key-Value Pairs</button>#}
{#    </form>#}
{#    </tr>#}
</table>
</body>
</html>